@charset "UTF-8";

@media (max-width: 600px) {

    html,body {
        overflow: auto;
        overflow-x: hidden
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    div {
        margin: 0px;
        padding: 0px;
    }
    
    
    body{
        background-color: #7A73D1;
        height: 100vh;
    }
    
    .intro {
        text-align: left;
        padding-bottom: 20px;
        position: relative;
        top: -5px;
        left: 145px;
        text-shadow: 2px 2px 4px #4d55cc;
        font-style: italic;
        font-size: 14px;
        font-family: arial;
    }
    
    img{
        border-radius: 50%;
        width: 120px;
        position: relative;
        top: 95px;
        margin: 0px 0px 0px 10px;
        border: 2px solid #211C84;
        left: 2px;
        box-shadow: 2px 3px 8px black;
        }
    
    #subintro {
        position: relative;
        color: white;
        left: 150px;
        top: -30px;
        font-size: 8px;
        font-family: cursive;
        text-shadow: 3px 1px 5px black;
        letter-spacing: 2px;
    }
   

    





















}