@charset "UTF-8";

@media (max-width: 420px) {

    html,body {
        overflow: auto;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    div {
        margin: 0px;
        padding: 0px;
    }
    
    
    body{
        background-color: #7A73D1;
        height: 100vh;
    }
    
    h1 {
        text-align: center;
        padding-bottom: 20px;
        position: fixed;
        top: 150px;
        left: 150px;
        text-shadow: 2px 2px 4px #4d55cc;
    }
    
    
    ol{
        position: fixed;
        display: flex;
        text-indent: 20px;
        list-style-type: none;
        top: 40px;
        margin-top: 145px;
        left: 142px;
        }
    
    img{
        border-radius: 50%;
        width: 135px;
        position: fixed;
        top: 100px;
        margin: 0px 0px 0px 10px;
        border: 2px solid white;
    }
    
    title {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: white;
        text-transform: unset;
    }
   

    





















}