@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    height: 300px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #09122C;
}

body {
    background-color: #09122C;
}

section div img {
    width: 150px;
    border-radius: 40%;
    border: 2px solid #BE3144;
    animation-name: borda;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes borda {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: 100%;
    }
}

section h1 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 4px 10px rgba(255, 255, 255, 0.150);
    
}

section p {
    color: #E17564;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 4px 10px #e1756457;
}

div#barra {
    border-radius: 2px;
    margin: auto;
    width: 450px;
    height: 1px;
    background-color: white;
    animation-name: barra;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes barra {
    0% {
        width: 0;
        opacity: 0;
        
    }

    100% {
        width: 450px;
        opacity: 1;
    }
}


section#corpo h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F14A00;
    text-shadow: 4px 2px 9px #f1480074;;
    height: 280px;
}


section#corpo p {
    color: #F0BB78;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 10px;
    width: 150px;
    height: 200px;
}

section#corpo p img {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    height: auto;
}