@charset "UTF-8";

@media (max-width: 768px) {

    html,body {
        overflow: auto;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    div {
        margin: 0px;
        padding: 0px;
    }
    
    
    body{
        background-color: #7A73D1;
        height: 100vh;
    }
    
    h1 {
        text-align: center;
        padding-bottom: 20px;
        position: fixed;
        top: 140px;
        left: 100px;
        text-shadow: 2px 2px 4px #4d55cc;
    }
    
    
    ol{
        position: fixed;
        display: flex;
        text-indent: 20px;
        list-style-type: none;
        top: 345px;
        margin-top: 10px;
        }
    
    img {
        border-radius: 50%;
        width: 120px;
        position: fixed;
        top: 95px;
        margin: 0px 0px 0px 10px;
        border: 2px solid #211C84;
        left: 2px;
        }
    
    .rede:hover {
        border: 1px solid #211C84;
        padding-left: 2px;
    }
    
    
    #zap {
        width: 100%;
        position: fixed;
        border: 1px solid #211C84;
        max-width: 30px;
        left: -5px;
        top: 205px;
    }
    
    #insta{
        width: 100%;
        position: fixed;
        border: 1px solid #211C84;
        max-width: 30px;
        left: 48px;
        top: 222px;
    }
    
    #tele {
        width: 100%;
        position: fixed;
        border: 1px solid black;
        max-width: 30px;
        left: 100px;
        top: 204px;
    }
    
    
    
    
    a {
        text-decoration: none;
        color: white;
        text-transform: unset;
    }
    
   

    





















}